/******* Colors *******/

$darkGray: #8b8e99;
$lightGray: #f6f6f6;
$lightGray2: #d9d9d9;
$white: #fff;
$blue: #3858d6;
$black: #1e1d1d;
$black2: #0b0b0b;
$lightRed: #ff6b6b;

/******* Fonts *******/

$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;
